{% load static %}

                <div class="header_inner">
                    <form action="/search" method="POST">
                        {% csrf_token %}
                        <div class="left-side">
                            <!-- Logo -->
                            <div>
                                <a href="/">
                                    <b><h1 style="text-transform: uppercase;" class="right-side lg:pr-4">MikeBook&nbsp;</h1></b>
                                </a>
                            </div>


                            <input type="text" name="username" placeholder="Busque por um nome...">&nbsp;&nbsp;
                            <button type="submit"> <i class="fa fa-search fa-1x"></i> </button>

                        </div>
                    </form>
                    <div class="right-side lg:pr-4">
                        <!-- welcome user -->
                        <a href="/settings" class="">
                            Bem vindo(a) <b name="" class="">{{user.username}}!&nbsp; &nbsp; &nbsp;</b>
                        </a>
                         <!-- upload -->
                        <a href="#"
                            class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white">
                            <ion-icon name="add-circle" class="-mb-1
                             mr-1 opacity-90 text-xl uilus-circle"></ion-icon>Novo Post
                        </a>
                         <!-- upload dropdown box -->
                        <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small" class="header_dropdown">

                            <!-- notivication header -->
                            <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">
                                <h4>Conte-nos sobre!</h4>
                            </div>

                            <!-- notification contents -->
                            <div class="flex justify-center flex-center text-center">

                                <div class="flex flex-col choose-upload text-center">

                                    <form action="upload" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <p class="my-3 leading-6"> Upload de imagem <br>
                                        </p>
                                            <div>
                                                <input type="file" name="image_upload">
                                                <textarea class="button soft-warning small" name="caption" placeholder="legenda..."></textarea>
                                                <br>
                                                <button class="button bg-blue-700" type="submit">Postar!</button>
                                            </div>
                                    </form>
                                </div>

                                <div class="uk-flex uk-flex-column choose-upload" hidden>
                                    <div class="mx-auto flex flex-col h-24 items-center justify-center relative w-full rounded-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">
                                            <path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd" />
                                        </svg>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!-- profile -->

                        <a href="#">
                            <img src="{{user_profile.profile_img.url}}" class="header-avatar" alt="">
                        </a>
                        <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                            <ul>
                                <li><a href="/settings"> Configurações da conta </a> </li>
                                <li><a href="/logout"> Log Out</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
